@model RentHiveOblig.Models.Eiendom

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/RentHiveOblig.styles.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">





<!----Inspired drag and drop styling from Codepen: https://codepen.io/TheLukasWeb/pen/kOrJmR---->
<style>
    .image-upload-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px 10px; 
    }

    .image-box {
        box-sizing: border-box;
        position: relative;
        width: 30%; /* width of each box; adjust as needed */
        height: 200px; /* fixed height; adjust as needed */
        border: 4px dashed #1e1e1e;
        text-align: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f5f5f5; 
        overflow: hidden;
    }

        .image-box img {
            max-width: calc(100% - 8px); 
            max-height: calc(100% - 8px); 
            display: block;
            margin: auto;
            transition: 0.2s;
        }

        .image-box input[type="file"] {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            outline: none;
            opacity: 0;
            cursor: pointer;
        }

        .btn-dark{
            margin-left: auto;
            margin: 5px;
            
        }


</style>

<div>
    <a asp-controller="Hosting" asp-action="Index" class="btn btn-dark">Back to list</a>
</div>

<br/>


<div class="container shadow-sm p-3 mb-5 bg-white rounded">
    
   
    <br/>
    <h1>Edit your listing</h1>
    <br/>
    <hr/>

    <div class="row">

        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="EiendomID"/>
                <input asp-for="ApplicationUserId" type="hidden" class="form-control"/>



                <div class="form-group">
                    <label asp-for="Tittel" class="control-label">Title</label>
                    <input asp-for="Tittel" class="form-control"/>
                    <span asp-validation-for="Tittel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Beskrivelse" class="control-label">Description</label>
                    <textarea asp-for="Beskrivelse" rows="8" class="form-control"></textarea>
                    <span asp-validation-for="Beskrivelse" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PrisPerNatt" class="control-label">Price per night </label>
                    <input asp-for="PrisPerNatt" class="form-control"></>
                    <span asp-validation-for="PrisPerNatt" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Street" class="control-label"></label>
                    <input asp-for="Street" class="form-control"/>
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control"/>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Country" class="control-label"></label>
                    <input asp-for="Country" class="form-control"/>
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ZipCode" class="control-label"></label>
                    <input asp-for="ZipCode" class="form-control"/>
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="State" class="control-label"></label>
                    <input asp-for="State" class="form-control"/>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Soverom" class="control-label">Bedrooms</label>
                    <input asp-for="Soverom" type="number" class="form-control"/>
                    <span asp-validation-for="Soverom" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Bad" class="control-label">Bathrooms</label>
                    <input asp-for="Bad" type="number" class="form-control"/>
                    <span asp-validation-for="Bad" class="text-danger"></span>
                </div>

                <br/>
                <hr/>

                <input type="submit" value="Save changes" class="btn btn-dark"/>
            </form>

        </div>






        <!---------FILE INPUT-------------->
        <!--CODE (IMAGE UPLOAD) INSPIRED FROM https://www.codaffection.com/asp-net-core-article/asp-net-core-mvc-image-upload-and-retrieve/-->
        <div class="col-md-6">
            <h2>Upload photos of your property</h2>
            <br/>
            <h3>Three points on why good photos matter</h3>

            <ul>
                <li>First Impressions</li>
                <li>Builds Trust</li>
                <li>Highlights Features</li>
            </ul>


            <br/>
            <br/>


            <h2>Click or drag the images here</h2>

            <form enctype="multipart/form-data" method="post" asp-controller="Eiendoms" asp-action="UploadImage">
                <div class="image-upload-wrapper">
                    <div class="image-box">
                        <img id="preview1" src="@Model.Image1"/>
                        <input type="file" name="file1" id="file1" accept="image/*" onchange="previewImage(this, 'preview1');"/>

                    </div>
                    <div class="image-box">
                        <img id="preview2" src="@Model.Image2"/>
                        <input type="file" name="file2" id="file2" accept="image/*" onchange="previewImage(this, 'preview2');"/>

                    </div>
                    <div class="image-box">
                        <img id="preview3" src="@Model.Image3"/>
                        <input type="file" name="file3" id="file3" accept="image/*" onchange="previewImage(this, 'preview3');"/>

                    </div>
                </div>

                <input type="hidden" name="EiendomID" value="@Model.EiendomID"/>
                <button class="btn btn-dark" type="submit">Upload Images</button>
            </form>

            <!---Warns the user if there are no images uploaded--->
            @if (Model.Image1 == null && Model.Image2 == null && Model.Image3 != null)
            {

                <p class="text-danger">There are no images uploaded for your listing yet.</p>

            }



        </div>

    </div>


</div>


<!----Inspired preview from Codepen: https://codepen.io/mobifreaks/pen/AMjEKw---->
<script>
    function previewImage(input, previewId) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById(previewId).setAttribute('src', e.target.result);

            };
            reader.readAsDataURL(input.files[0]);
        }
    }



</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
