@model RentHiveOblig.Models.Eiendom

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit your listing</h1>
<br />
<hr />

<div class="container">

    <div class="row">

    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EiendomID" />

            <div class="form-group">
                <label asp-for="Tittel" class="control-label">Title</label>
                <input asp-for="Tittel" class="form-control" />
                <span asp-validation-for="Tittel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beskrivelse" class="control-label">Description</label>
                <textarea asp-for="Beskrivelse" class="form-control"></textarea>
                <span asp-validation-for="Beskrivelse" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Soverom" class="control-label">Bedrooms</label>
                <input asp-for="Soverom" type="number" class="form-control" />
                <span asp-validation-for="Soverom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Bad" class="control-label">Bathrooms</label>
                <input asp-for="Bad" type="number" class="form-control" />
                <span asp-validation-for="Bad" class="text-danger"></span>
            </div>


            <div class="form-group">

                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

     </div>


        <!---------FILE INPUT-------------->
        <!--Maybe a loop that checks if there are no images to the listing, warn the user or something similar?---->
        <div class="col-md-6">
            <h3>Upload photos of your property</h3>
            <br />
            <h4>Why good photos matter</h4>
            <p>
                <br />
                <strong>First Impressions:</strong> Clear photos grab attention and make your listing stand out.
                <br />
                <strong>Builds Trust:</strong> Transparently showcasing your property eases potential renters' concerns.
                <br />
                <strong>Highlights Features:</strong> Use images to show off your apartment's best attributes.
                <br />
                <strong> Speeds Up Decisions:</strong> Visuals help potential tenants quickly gauge if it's the right fit.
            </p>


            <br />
            <br />

            <form enctype="multipart/form-data" method="post" asp-controller="Eiendoms" asp-action="uploadImage">
                <div class="form-group">
                    <label for="file">Choose image</label>
                    <input type="file" name="file" id="file" accept="image/*" required />
                    <span class="text-danger" id="fileError" style="display:none;">Please select an image to upload.</span>
                </div>
                <!---Using a hidden input to pass the EiendomID-->
                <input type="hidden" name="EiendomID" value="@Model.EiendomID" />

                <button type="submit">Upload image</button>
            </form>
        </div>

    </div>






</div>



<div>
    <a asp-controller="Hosting" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
