@{
    ViewBag.Title = "Deletion Error";
}

<h1>Error Deleting Listing</h1>

<p>Sorry, this listing cannot be deleted because it has existing bookings.</p>

<a asp-controller="Hosting" asp-action="Index">Return to Listings</a>
