html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:lightpink;
}

.bee-container {
    height:15vh;
    width:15vh;
    position:relative;
    margin: auto;
    margin-top:3.25em;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: fly 4s infinite;
}

@keyframes fly {
    50% {
        transform: translateY(3.12em);
    }
}

.bee {
    height: 7.5em;
    width: 12.5em;
    background: linear-gradient( to right, #f4c13d 30%, #0d323e 30%, #0d323e 45%, #f4c13d 45%, #f4c13d 55%, #0d323e 55%, #0d323e 70%, #f4c13d 70%, #f4c13d 80%, #0d323e 80% );
    border-radius: 5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: inset 0 -1.56em rgba(0, 0, 0, 0.15);
}

    .bee:before {
        position: absolute;
        content: "";
        height: 0.87em;
        width: 0.87em;
        background-color: #0d323e;
        border-radius: 50%;
        top: 3.43em;
        left: 1.25em;
    }

    .bee:after {
        position: absolute;
        content: "";
        height: 0.31em;
        width: 1.87em;
        background-color: #0d323e;
        border-radius: 0.31em;
        top: 3.43em;
        left: 11.87em;
    }


    .shine {
    position: absolute;
    height: 1.25em;
    width: 7.5em;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1.25em;
    top: 1.25em;
    left: 3.12em;
}

    .shine:before {
        position: absolute;
        content: "";
        height: 3.12em;
        width: 0.93em;
        background-color: #0b2b35;
        border-radius: 0.93em;
        transform: rotate(-30deg);
        top: 4.68em;
        left: 1.87em;
        box-shadow: 2.5em 1.25em #0b2b35;
    }

@media screen and (min-width: 700px) {
    .container {
        font-size: 1.2em;
    }
}

.footer {
    background-color: white;
}
