

html {
  font-size: 14px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:lightpink;
}
h1 {
    font-family: "Comfortaa";
}
h2 {
    font-family: "Comfortaa";
}





.button-search {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "Comfortaa",monospace;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    position: absolute;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 65%;
    margin-left: 0.25%;
    height: inherit;
    font-size: inherit;
    line-height: inherit;
    width: inherit;
    margin-top: 2.5px;
    max-width: 100%;
}

.button-search:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-search:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-search:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

@media (min-width: 768px) {
    .button-search {
        padding: 0 10px;

    }
}
@media (max-width: 470px) {
    .button-search {
        position: absolute;
        display: block;
        left: 40%;
        right: 60%;
    }



    .bee-container {
        height: 15em;
        width: 15em;
        position: relative;
        margin: auto;
        margin-top: 5em;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        animation: fly 4s infinite;
    }

    @keyframes fly {
        50% {
            transform: translateY(-3.12em);
        }
    }

    .bee {
        height: 7.5em;
        width: 12.5em;
        background: linear-gradient( to right, #f4c13d 30%, #0d323e 30%, #0d323e 45%, #f4c13d 45%, #f4c13d 55%, #0d323e 55%, #0d323e 70%, #f4c13d 70%, #f4c13d 80%, #0d323e 80% );
        border-radius: 5em;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        box-shadow: inset 0 -1.56em rgba(0, 0, 0, 0.15);
    }

        .bee:before {
            position: absolute;
            content: "";
            height: 0.87em;
            width: 0.87em;
            background-color: #0d323e;
            border-radius: 50%;
            top: 3.43em;
            left: 1.25em;
        }

        .bee:after {
            position: absolute;
            content: "";
            height: 0.31em;
            width: 1.87em;
            background-color: #0d323e;
            border-radius: 0.31em;
            top: 3.43em;
            left: 11.87em;
        }

    .wings {
        position: absolute;
        height: 5em;
        width: 5em;
        background-color: #ea92b9;
        border-radius: 5em 5em 0 5em;
        top: 7.5em;
        left: 11.25em;
    }

        .wings:before {
            position: absolute;
            content: "";
            height: 5em;
            width: 5em;
            background-color: #ea92b9;
            border-radius: 5em 5em 5em 0;
            left: 4.68em;
        }

        .wings:after {
            height: 3.75em;
            width: 3.75em;
            position: absolute;
            content: "";
            box-shadow: -0.62em -0.62em #f2c7c9;
            border-radius: 50%;
            top: 1.12em;
            left: 1.12em;
        }

    .shine {
        position: absolute;
        height: 1.25em;
        width: 7.5em;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 1.25em;
        top: 1.25em;
        left: 3.12em;
    }

        .shine:before {
            position: absolute;
            content: "";
            height: 3.12em;
            width: 0.93em;
            background-color: #0b2b35;
            border-radius: 0.93em;
            transform: rotate(-30deg);
            top: 4.68em;
            left: 1.87em;
            box-shadow: 2.5em 1.25em #0b2b35;
        }

    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @media screen and (min-width: 700px) {
        .container {
            font-size: 1.2em;
        }
    }
}


