@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RentHiveOblig.styles.css" asp-append-version="true" />





<body>

    <div class="bee-container">
        <div class="bee">
            <div class="shine"></div>
        </div>
    </div>

    <h1>You're not permitted to see this.</h1>

    <p>The page you're trying to access has restricted access.</p>
    <p>If you feel this is a mistake, contact your admin.</p>
</body>
