@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/RentHiveOblig.styles.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">





<header class="d-flex flex-column align-items-center">

    <div class="bee-container">
        <div class="bee">
            <div class="shine"></div>
        </div>
    </div>

    <h1>You're not permitted to see this.</h1>

    <p>The page you're trying to access has restricted access.</p>
    <p>If you feel this is a mistake, contact your admin.</p>
</header>
