@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/RentHiveOblig.styles.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">

<div class="text-center">
    <h1 class="display-4">Welcome to RentHive!</h1>
</div>
<!--Div classes using Bootstrap library-->
<div class="text-center">
    <h1>Buzz off to your next destination.</h1>
    <!--Using a form for inputs-->
    <form>
        <input type="text" id="destination" placeholder="Your destination" />
        <input type="datetime-local" id="date" placeholder="Select date">
        <button class="button-search" role="button"> SEARCH</button>
    </form>
</div>

<!--Div classes for "Bee animation" using css-->
<div class="bee-container">
    <div class="bee">
    <div class="shine"></div>
    </div>
</div>




<!--
    <div id="carouselImages" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="~/images/pizza.jpg" class="d-block w-100" alt="Pizza">
        </div>
        <div class="carousel-item active">
            <img src="~/images/fishandchips.jpg" class="d-block w-100" alt="Fried Chicken Leg">
        </div>
        <div class="carousel-item">
            <img src="~/images/tacos.jpg" class="d-block w-100" alt="Tacos">
        </div>
    </div>
</div>

-->
