@{
    ViewData["Title"] = "Eiendom Not Found";
}




<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Eiendom Not Found</h1>
            <p>We are sorry, the property you are looking for could not be found.</p>
            <p>Please try again later.</p>
            <a href="@Url.Action("ShowSearchForm", "Eiendom")" class="btn btn-primary">Go to Property Listings</a>

        </div>

    </div>
</div>
